body {
  font-family: Cambria, serif;
  font-size: large;
  line-height: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:target {
  background-color: Yellow;
}

fieldset {
  display: inline-block;
  padding-left: 15px;
}

legend {
  font-weight: bold;
}

#toggle-guide {
  color: Blue;
  font-size: smaller;
  font-weight: normal;
  vertical-align: top;
  cursor: pointer;
}

table {
  margin-top: 20px;
}

td {
  padding-left: 20px;
  vertical-align: top;
}

td.rule {
  padding: 0;
}

span {
  margin-left: 10px;
}

span > :first-child,
span > :first-child  > :first-child {
  margin: 0;
}

span.nonterminal {
  font-style: italic;
  color: black;
}

span.terminal {
  font-family: FreeMono, Anonymous Pro, monospace;
  font-weight: bold;
}

span.case-insensitive {
  color: darkgreen;
}

span.regular {
  color: Blue;
  font-weight: normal;
}

span.optional {
  background-color: Gainsboro;
  background-clip: content-box;
}

span.repeated {
  padding-bottom: 2px;
  border-bottom: thin solid red;
}

span.exception {
  text-decoration: line-through;
}

div.comment {
  color: Sienna;
  margin-top: 20px;
  margin-left: 10px;
}

td div.comment {
  margin: 0;
  vertical-align: top;
}
